<ion-modal-view>
    <ion-header-bar style="padding: 0px !important;">
        <h1 class="title">Save my campaign</h1>
    </ion-header-bar>
    <ion-content>
        <div class="col-xs-12">
            <input class="crumbs-form-control" type="text" placeholder="Enter campaign name" ng-model="vm.temp">
        </div>
        <div class="col-xs-12">
            <button class="br0 btn btn-success fr" ng-click="vm.closeSaveModal()">Save</button>
            <button class="br0 btn btn-success fr" ng-click="vm.closeSaveModal()" style="margin-right:10px">Make my favourite</button>
        </div>
    </ion-content>
</ion-modal-view>
