<div class="col-xs-12 text-center"><h4>Saved Target Lists - Accounts</h4></div>

<table style="width: 100%;margin-bottom: 15px;" class="table table-responsive">
    <tr ng-repeat="list in $root.listsAccounts" style="border-bottom: 1px solid #eeeeee;cursor: pointer;" data-ng-click="$root.goToList(list.iD)">
        <td class="vam" style="width: 30px;" ng-click="$root.makeListFavorite(list.iD, !list.favourite, true)">
            <i class="fa fa-2x" ng-class="list.favourite ? 'fa-star color-orange' : 'fa-star-o '"></i>
        </td>
        <td class="vam" ng-class="list.favourite ? 'color-orange' : ''">{{ list.name }}</td>
        <td class="vam">
            <strong>Last Updated: {{ $root.formatDate(list.lastUpdated) }}</strong>
            <p class="bm0">Updated By: {{ list.lastUpdatedByPartyRoleID }}</p>
        </td>
        <td class="actions vam" ng-click="$root.deleteList(list.iD, true)">
            <i class="fa fa-minus-circle fa-lg" style="color:red"></i>
        </td>
    </tr>
</table>
