<div class="col-xs-12 text-center"><h4>SMS Templates</h4></div>

<ul class="table-view accounts bm0">
    <li class="table-view-cell mt0 bb1gray open">
        <span class="label" ng-class="{ 'label-success-notes': $root.selectedSmsTag == t, 'label-default' :$root.selectedSmsTag != t}"
              style="margin:0 5px;float:left;margin-bottom:5px" ng-click="$root.selectedSmsTag = t" ng-repeat="t in $root.smsTemplatesTagsList">{{t}}</span>
        <div class="clearfix"></div></li>
</ul>

<table style="width: 100%;margin-bottom: 15px;" class="table table-responsive">
    <tr ng-repeat="t in $root.smsTemplatesList| filter: $root.filterSmsTemplate" style="border-bottom: 1px solid #eeeeee">
        <td class="vam text-left" style="width:40%">{{t.name}}</td>
        <td style="width:40%" class="vam">
            <p class="bm0">Last Updated: {{t.lastUpdated_str}}</p>
            <p class="bm0">{{t.updatedBy.name}}</p>
        </td>
        <td class=" vam text-center">
            <i class="fa fa-envelope-square fa-2x" style="color: green;"></i>
        </td>
        <td class=" vam text-center">
            <i class="fa fa-pencil fa-2x" data-ng-click="$root.initEditSmsTemplateMode(t)" style="color: blue;cursor: pointer"></i>
        </td>
        <td class=" vam text-center">
            <i class="fa fa-minus-circle fa-2x" data-ng-click="$root.deleteSmsTemplate(t)" style="color: red;cursor: pointer"></i>
        </td>
    </tr>
</table>
