<div class="col-xs-12 text-center"><h4>Files</h4></div>

<div class="row text-left pb10" ng-class="{'bb1gray' : !$root.createMode}" style="padding-left: 0px;">
    <div class="col-sm-8 col-xs-12 lh30" style="padding-left: 0px;">
        <span class="label" ng-class="{ 'label-success-notes': $root.selectedType == 'All', 'label-default' :$root.selectedType != 'All'}"
                style="margin:5px; float:left;" ng-click="$root.selectedType = 'All'">All</span>
        <span class="label" ng-class="{ 'label-success-notes': $root.selectedType == t, 'label-default' :$root.selectedType != t}"
                style="margin:5px; float:left;" ng-click="$root.selectedType = t" ng-repeat="t in $root.filesTypes">{{t}}</span>
    </div>
    <div class="col-sm-4 col-xs-12 lh30" style="padding-right: 0px;">
        <div class="add-file cp" style="padding-left:4px;padding-right:6px;float: right;" ng-if="!$root.createMode"
             data-ng-click="$root.initCreateNewFile()">
            <btn class="fa fa-plus-circle fa-lg" style="color:green"></btn>
            <span style="color: green;padding-left:4px">add file</span>
        </div>
        <div class="add-file" style="padding-left:4px;padding-right:6px;float: right;" ng-if="$root.createMode">
            <button class="btn btn-primary btn-block m0 br0 fr" ng-click="$root.createNewFile()" style="width:70px">Save
            </button>
            <button class="btn btn-positive btn-block m0 br0 fr" ng-click="$root.cancelFileCreateMode()"
                    style="width:70px">Cancel
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<form class="bb1gray" ng-if="$root.createMode">
    <div class="col-sm-3 col-xs-12 p0505 form-group mb15">
        <ui-select search-enabled="false" ng-model="$root.newFile.typeObj" theme="bootstrap">
            <ui-select-match placeholder="Select file type">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="comp in $root.formFilesTypes">{{comp.name}}</ui-select-choices>
        </ui-select>
    </div>
    <div class="col-sm-9 col-xs-12 p0505 form-group bm0">
        <input class="form-control crumbs-form-control" ng-model="$root.newFile.name" type="text" placeholder="Select"
               style="height:34px">
    </div>
    <div class="col-xs-12 p0505 form-group">
        <input class="crumbs-form-control" nv-file-select="" uploader="$root.uploader" type="file" style="border-bottom-width: 0px ! important;" />
    </div>
    <div class="clearfix"></div>
</form>
<ul class="table-view bm0" data-ng-repeat="f in $root.files| filter: $root.typeFilter">
    <li class="table-view-cell bb1gray text-left" style="padding: 15px 5px 15px 0px;">
        <table class="width100">
            <tbody>
            <tr>
                <td class="text-center" style="width:30px;vertical-align:middle">
                    <btn class="fa fa-minus-circle" style="color:red" ng-click="$root.removeFile(f.id)"></btn>
                </td>
                <td style="vertical-align:middle"><span>{{f.name}}</span></td>
                <td style="width:20%;vertical-align:middle"><span>{{f.createDateText}}</span></td>
                <td style="width:30%;vertical-align:middle;text-align:right"><span class="label label-default">{{f.type}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </li>
</ul>
