<div class="col-xs-12 text-center"><h4>Recent Deals</h4></div>
<table style="width: 100%;margin-bottom: 15px;" class="table table-responsive">
    <tr ng-repeat="rd in $root.recentDeals" style="border-bottom: 1px solid #eeeeee">
        <td class="tac vam" style="width: 30px;">
            <i data-ng-if="rd.type == 1" class="fa fa-home fa-2x"></i>
            <i data-ng-if="rd.type == 2" class="fa fa-car fa-2x"></i>
            <i data-ng-if="rd.type == 3" class="fa fa-calculator fa-2x"></i>
        </td>
        <td>
            <p class="color-block bm0"><a href="">{{rd.phone}}</a><span style="margin-left:20px">${{rd.amount}}</span></p>
            <p class="color-block bm0">{{rd.status}}</p>
        </td>
    </tr>
</table>
