<ion-view class="fancy-select-items modal">
    <ion-header-bar class="bar-positive">
        <button ng-click="hideItems()" class="button button-positive button-icon ion-ios7-arrow-back"></button>
        <h1 class="title">{{headerText}}</h1>
        <button ng-click="validate()" class="button button-positive button-icon ion-checkmark"></button>
    </ion-header-bar>

    <ion-content>
        <div class="list list-inset" ng-if="searchBox">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input id="search-box1" type="search" placeholder="Search" ng-model="searchText" ng-change="changeValue(searchText)">
            </label>
        </div>
        <div class="list">
            <ion-toggle  style="cursor: pointer !important;" ng-repeat="item in items | filter:filterItem"
                ng-if="multiSelect "
                ng-checked="item.checked"
                ng-model="item.checked"
                class="item item-text-wrap">
                {{item.name}}
            </ion-toggle>
            <label ng-repeat="item in items | filter:filterItem"
                ng-if="!multiSelect"
                class="item item-text-wrap"
                ng-click='validateSingle(item)'>
                {{item.name}}
            </label>
        </div>
    </ion-content>
</ion-view>
